<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>

    <div id="app2">
        <div class="container">
            <div class="row" v-if="!isLs">
                <div class="col">
                    <div class="alert alert-warning">
                        お使いのブラウザではlocalStrage機能は使用できません。
                    </div>
                </div>
            </div>

            <div class="row py-3">
                <div class="col">
                    <h1>お気に入り一覧</h1>
                    <div>お気に入り登録件数は<strong class="display-4 font-weight-bold">{{ favs.length }}</strong>件です</div>
                </div>
            </div>
            <!-- <ul class="row border-top py-3 align-items-center" v-for="item in data" :key="item.id">

                <li v-bind:id="item.name">&rtrif;{{ item.detail}}</li>
            </ul> -->

            <ul class="row border-top py-3 align-items-center">
                <li v-for="item in favs" :key="item.id">
                    <a v-bind:id="item.name">&rtrif;{{ item.detail}} + {{ item.ganame}} + {{item.newflag}}</a>
                </li>
            </ul>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script> -->
  <!-- <script src="sample-component.js"></script> -->
  <script src="main.js"></script>
</body>
</html>